@import url(https://fonts.googleapis.com/css?family=Righteous); /********** Template CSS **********/
:root {
    --primary: #61d419;
    --secondary: #82bc3f;
    --light: #ffffff;
    --dark: #3f5821;
    --success: #21b139;
    --dark2: #253113;

}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/********** NAV background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%); **********/

.navbar-ide-corrientes{

    background: #61d419;
    /*background: linear-gradient(0deg, rgba(135,194,65,1) 0%,
    rgba(130,188,63,1) 6%, rgba(125,180,61,1) 13%, rgba(121,174,59,1) 19%,
    rgba(117,167,57,1) 25%, rgba(113,162,55,1) 30%, rgba(105,150,52,1) 41%, rgba(99,142,49,1) 49%,
    rgba(93,134,46,1) 57%, rgba(86,123,43,1) 67%, rgba(77,109,39,1) 80%, rgba(70,99,36,1) 90%, rgba(63,88,33,1) 100%);*/

}

.nav-items{
    font-weight: 560;
}


.navbar-light .navbar-nav .nav-link {
    position: relative;
    padding: 25px ;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link{
    padding: 20px;
    color: var(--dark) !important;
}

.sticky-top.navbar-light .navbar-nav .nav-link.active{
    padding: 20px;
    background-color: var(--primary);
    color: #ffffff !important;
}



.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #0d7963 !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.dropdown-item:hover {
    background-color: var(--primary);
    color: white;
    font-weight: normal;
}



@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
    .navbar-impenetrable {
        background-color: rgb(255, 255, 255);
        opacity: 80%;
    }

    .title-efect {
        font-size: 3em !important;
        text-shadow: .03em .03em 0 #198754;
    }

    .mg-card {
        margin-right: 0px !important;
    }

}

@media (min-width: 992px) {
    .navbar-light {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--primary);
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }


    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 4px;
        bottom: -1px;
        left: 50%;
        background: var(--light);
        transition: .5s;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 4px;
        bottom: -1px;
        left: 50%;
        background: var(--success);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-impenetrable {
        background-color: rgb(0 38 6 / 96.3%);
        opacity: 95%;
    }

}


/********** CONTAINERS **********/
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: unset;
}


/********** BACKGROUNDS **********/
.IDE-CORR-backgound{
    background:
        url(../img/fondo_corr-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;
}


.IDE-CORR-backgound-Green{
    background: var(--hover);
    background-size: cover;
    min-height: 850px;
}

/********** TEXT-TITLES **********/

.div-title{
    background-color: rgb(18 116 39 / 42%);
}


.title-efect {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 7em;
    text-shadow: .03em .03em 0 #198754;
}

.text-header-seccion{
    color: var(--dark);
}
.mb-3{
    color: var(--success);
}


/****BOTONES********/



/* CSS */
.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


/** main-footer **/

.main-footer{
    position: relative;
    background: #61d419;
    color: #ffffff;
    padding: 133px 0px 121px 0px;
    font-family: monospace;
    font-weight: bold;
}
.main-footer .widgets-section{
    position: relative;
}

#container_footer{
    background: url(../img/footer-pattern.png);
    background-repeat: no-repeat;
    background-position: center;

}
.main-footer .widgets-section:before{
    position: absolute;
    content: '';
    background: url(../img/footer-pattern.png);
    left: 40%;
    top: -45px;
    width: 100%;
    height: 100%;
    min-height: 322px;
    background-repeat: no-repeat;
    animation-name: float-bob;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float-bob;
    -webkit-animation-duration: 45s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float-bob;
    -moz-animation-duration: 45s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 45s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 45s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.main-footer .logo-widget{
    margin-top: -12px;
}
.main-footer .logo-widget .footer-logo{
    position: relative;
    margin-bottom: 11px;
}
.main-footer .logo-widget .footer-logo-2{
    position: relative;
    margin-bottom: 21px;
    text-align: center;
}
.main-footer .logo-widget .text{
    margin-bottom: 36px;
}
.main-footer .logo-widget .footer-social li{
    position: relative;
    float: left;
    margin-right: 12px;
}
.main-footer .logo-widget .footer-social li:last-child{
    margin-right: 0px;
}
.main-footer .logo-widget .footer-social li a{
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    width: 47px;
    height: 47px;
    line-height: 47px;
    background: #2f333b;
    text-align: center;
    border-radius: 50%;
}
.main-footer .logo-widget .footer-social li a:hover{
    background: #14BF98;
}
.footer-title{
    position: relative;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 31px;
}
.main-footer .link-widget .link-list li{
    position: relative;
    display: block;
    margin-bottom: 14px;
}
.main-footer .link-widget .link-list li:last-child{
    margin-bottom: 0px;
}
.main-footer .link-widget .link-list li a{
    position: relative;
    display: inline-block;
    color: #ffffff;
    padding: 0px 0px 0px 15px;
}
.main-footer .link-widget .link-list li a:before{
    position: absolute;
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #d4dae3;
    left: 0px;
    top: 0px;
    transition: all 500ms ease;
}
.main-footer .link-widget .link-list li a:hover{
    color: #14BF98;
    text-decoration: underline;
}
.main-footer .link-widget .link-list li a:hover:before{
    color: #14BF98;
}
.main-footer .link-widget{
    margin-left: 70px;
}
.main-footer .event-widget .single-event .link a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Hind', sans-serif;
    color: #ffffff;
    margin-bottom: 3px;
}
.main-footer .event-widget .single-event .link a:hover{
    color: #14BF98;
}
.main-footer .event-widget .single-event .text i:before{
    position: relative;
    font-size: 18px;
    color: #14BF98;
    margin: 0px;
    margin-right: 10px;
}
.main-footer .event-widget .single-event .text{
    font-size: 14px;
    color: #ffffff;
}
.main-footer .event-widget .single-event{
    margin-bottom: 20px;
}
.main-footer .event-widget .footer-title{
    margin-bottom: 34px;
}
.main-footer .event-widget{
    margin-right: 45px;
}
.form-group{
    position: relative;
    margin: 0px;
}
.main-footer .newsletter-widget .text{
    margin-bottom: 26px;
    line-height: 24px;
}

.main-footer .newsletter-widget .form-group{
    position: relative;
    margin-bottom: 20px;
}
.main-footer .newsletter-widget .form-group input[type='email'],input[type='text']:focus{
    border: 1px solid #14BF98;
}
.main-footer .newsletter-widget .form-group:last-child{
    margin-bottom: 0px;
}
.main-footer .newsletter-widget .form-group button i:before{
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    margin: 0px;
    margin-left: 10px;
    transition: all 500ms ease;
}
.main-footer .newsletter-widget .form-group button:hover i:before{
    color: #14BF98;
}
.main-footer .newsletter-widget .form-group button.theme-btn{
    padding: 10px 33px;
}
.main-footer ::-webkit-input-placeholder { /* Chrome */
    color: #d4dae3;
}
.main-footer :-ms-input-placeholder { /* IE 10+ */
    color: #d4dae3;
}
.main-footer ::-moz-placeholder { /* Firefox 19+ */
    color: #d4dae3;
}
.main-footer :-moz-placeholder { /* Firefox 4 - 18 */
    color: #d4dae3;
}
.main-footer .newsletter-widget .footer-title{
    margin-bottom: 30px;
}

/** footer-bottom **/

.footer-bottom{
    position: relative;
    background: #1c2026;
    color: #d4dae3;
    padding: 20px 0px 19px 0px;
    text-align: center;
}
.footer-bottom .copyright{
    font-weight: 500;
}
.footer-bottom .copyright a{
    color: #14BF98;
    font-weight: 500;
}
.footer-bottom .copyright a:hover{
    color: #d4dae3;
}

.footer-social{
    list-style: none;
}

@media (max-width: 991.98px) {
    .main-footer{
        padding-top: 20px;
        padding-bottom: 0px;
    }
   .padding-15{
       padding-left: 3% !important;
       padding-right: 3% !important;
   }
    .text{
        text-align: center;
    }
    #icons-media{
        padding-left: 0%;
    }

    .main-footer .event-widget {
        margin-right: 0 !important;
    }
    .main-footer .link-widget {
        margin-left: 3%;

    }
    .single-event{
        text-align: center;

    }
}


/*PADDING*/
.padding-15 {
    padding-left: 15%;
    padding-right: 15%;
}

/*IMAGENES*/

.pagina-works{
    width: 50%;
    margin: 0 auto;
    display: block;
}



body {
    background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/*ASIDE*/

.main-sidebar{
    width: 280px;
    display: contents;
    margin-left: -15px;
    box-shadow: 5px 1px 5px 0px rgba(196,196,196,0.75);
    -webkit-box-shadow: 5px 1px 5px 0px rgba(196,196,196,0.75);
    -moz-box-shadow: 5px 1px 5px 0px rgba(196,196,196,0.75);
}


/* Sidebar */
.sidebar {

    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}
.text-sidebar{
    font-size: 14px;
}
.ul{
    margin-bottom: 0px !important;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
    .main-sidebar{
        display: none;
    }
    .margin-275{
        margin-left: 0 !important;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: var(--primary);
}
.nav-link:hover{
    color: #fff !important;
    background-color: var(--primary);
}

/*DIVSSSS*/
.margin-275{
    margin-left: 275px;
}

.title{
    font-family: "Heebo","Roboto", sans-serif;
    color: #0c4128;
}
.p-text{
    color: #3a3a3a;
    text-align: justify;
}
